{{! view customer order}}

<section id = "currentCart">
    <h1>Cart List</h1>
    <div class= "cart-page">
        <table>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                
            </tr>
            {{#each cart}}
            <tr>
                <td>
                    <div class="cart-info">
                        <img class="currentCart" src="https://source.unsplash.com/{{this.snackId.photo}}" alt="hosted by Unsplash">
                        <div>
                            <p>{{this.snackId.name}}</p>
                            <small>Price: ${{this.snackId.price}}</small>
                        </div>
                    </div>
                </td>
                <td>{{this.quantity}}</td>
                  
            </tr>
            {{/each}}
        </table>
        
    </div>
    <div class="total-price">
        <table>
            <tr>
                <td><b>Total Price</b></td>
                <td>${{total}}</td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">Confirm Order</button></td>
            </tr>
        </table>
    </div>
    
</section>