<section id="OrderDetails">
    <h1>Order Details</h1><br>
    <div class="orderid"><strong>Order #{{thisOrder._id}}</strong></div>
    <div class="container">
        <div class="summary">
            <div class="section-title">Order Summary</div>
            
            <ul>
                {{#each thisOrder.items}}
                {{#if this.quantity}}
                <li>
                    <div class="col col-1"><strong>{{this.snackId.name}}</strong></div>
                    <div class="col col-2">Qty: {{this.quantity}}</div>
                    <div class="col col-3">${{two_dp (multiply this.snackId.price this.quantity)}}</div>
                </li>
                {{/if}}
                {{/each}}
                <li class="total">
                    <div class="col col-1"><strong>TOTAL</strong></div>
                    <div class="col col-2"></div>
                    <div class="col col-3">${{two_dp total}}</div>
                </li>
                {{#if thisOrder.discount}}
                <li class="total">
                    <div class="col col-1"><strong>After Discount</strong></div>
                    <div class="col col-2"></div>
                    <div class="col col-3">${{two_dp (multiply 0.8 total)}}</div>
                </li>
                {{/if}}
            </ul>
        </div>


        <div class="status">
            <div class="section-title">Order Status</div>
            <div>
                <ul>
                    <li>
                        <div class="col col-1"><strong>Van Name: </strong></div>
                        <div>{{thisOrder.van.name}}</div>
                    </li>

                    {{#unless thisOrder.fulfilled}}
                    <li>
                        <div class="col col-1"><strong>Time Remaining: </strong></div>
                        <div id="countdown"></div> {{!- we could use subtract but we could also use the javascript from above}}
                    </li>
                    
                    <p class="notice">We will give you 20% discount if your order is not ready within the time limit!</p>
                    {{/unless}}
                    <li>
                        <div class="col col-1"><strong>Status: </strong></div>
                        <div>{{#if thisOrder.fulfilled}}Fulfilled{{else}}Outstanding{{/if}}</div>
                    </li>
                    <p hidden id="fulfilled">{{thisOrder.fulfilled}}</p>
                    <p hidden id="pickup">{{thisOrder.picked_up}}</p>
                    <div class="step">
                        <div class="bullet" id="bullet1">&#10003;</div>
                        <div class="step-text"><strong>Order Received</strong></div>
                    </div>
                    <div class="step-text">We are processing your order.</div>
                    <div id="step-subtitle">
                        <div class="step-text"><br><br>
                            You can change or cancel your order within
                            10 minutes and before your order is fulfilled. 
                        </div>

                        <div class="button-container">
                            <button class="step-text-button" onclick=showchangeModal()>CHANGE</button>&nbsp;
                            <button class="step-text-button" onclick=showModal()>CANCEL</button>
                        </div>
                    </div>

                    {{#if thisOrder.fulfilled}}
                    <div class="step">
                        <div class="bullet"  id="bullet2">&#10003;</div>
                        <div class="step-text"><strong>Ready for Pickup</strong></div>
                    </div>
                    <div class="step-text">Your order is ready for pickup.</div>
                    <div class="button-container">
                        <button class="step-text-button">PAY</button>&nbsp;
                        <button class="step-text-button">RATE US</button>
                    </div>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- pop up message when clicking CANCEL -->
<div class="addcart-modal">
    <div class="modal-content">
        <div><img src="https://i.imgur.com/tZ47M5M.png" width="150px" height="140px"></div>
        <div>
            <p id="addToCartMessage">Are you sure you want to cancel your order?</p>
            <p><button>YES</button> <button onclick=closeModal()>NO</button></p>
        </div>
    </div>
</div>

<div class="change-modal">
    <div class="modal-content">
        <div><img src="https://i.imgur.com/tZ47M5M.png" width="150px" height="140px"></div>
        <div>
            <p id="addToCartMessage">Are you sure you want to change your order?</p>
            <p><button>YES</button> <button onclick=closechangeModal()>NO</button></p>
        </div>
    </div>
</div>

<script>
    // show cancel and change button if time >= 10 minutes
    setInterval(function () {
        const current_time = localStorage.getItem("minutes");
        const fulfilledStatus = document.getElementById('fulfilled').innerHTML;
        if(Number(current_time) >= 1 && fulfilledStatus === "false") {
            const subtitle = document.getElementById('step-subtitle');
            subtitle.style.display="block";
        }
    }, 1000);

    //change bullet color in order status
    
    const firstbulletEl = document.getElementById('bullet1');
    const secondbulletEl = document.getElementById('bullet2');
    const fulfilledStatus = document.getElementById('fulfilled');

    firstbulletEl.style.color="white";
    firstbulletEl.style.backgroundColor="#24305E";

    //when order is fulfilled and ready to be picked up
    if (fulfilledStatus) {
        secondbulletEl.style.color="white";
        secondbulletEl.style.backgroundColor="#24305E";
    }

    function showModal() {
         document.querySelector('.addcart-modal').style.display = "flex";
    }

    function closeModal(){
        document.querySelector('.addcart-modal').style.display = "none";
    }

    function showchangeModal() {
         document.querySelector('.change-modal').style.display = "flex";
    }

    function closechangeModal(){
        document.querySelector('.change-modal').style.display = "none";
    }
       
</script>