<section id="snackDetails">
    <center><a href="/customer/snacks">Back to menu</a></center>

<h1> {{desiredSnack.name}} </h1><br>
<center><img src="https://source.unsplash.com/{{desiredSnack.photo}}" alt="hosted by Unsplash"></center>
<div class="Price"> Price: ${{desiredSnack.price}}</p><br>
<p id="snackid" hidden>{{desiredSnack._id}}</p>
{{#if loggedin}}<label for="quantity"><p>Quantity: (put 0 to remove item)</p></label>
<input type="number" id="quantity" name="quantity" min="0" max="50">
<button onclick="toLocalStorage()" type="submit">Add to Cart</button>
{{else}}<p>Please <a href="/customer/getLoginPage">Log In</a> to Order</p>
{{/if}}
<script>
    function toLocalStorage() {
        // create a new Array if it does not exist and put Snack ID in it.
        if (localStorage.getItem("current_cart") === null){
            localStorage.setItem("current_cart", JSON.stringify([document.getElementById("snackid").innerHTML]))
            localStorage.setItem("quantity", JSON.stringify([document.getElementById("quantity").value]))
        }
        else{ // get list of Snacks in localStorage
            currentCart = JSON.parse(localStorage.getItem("current_cart"));
            currentQuantity = JSON.parse(localStorage.getItem("quantity"));
            thisItem = document.getElementById("snackid").innerHTML;
            thisQuantity = document.getElementById("quantity").value;

            currentCart.push(thisItem);
            currentQuantity.push(thisQuantity);
            localStorage.setItem("current_cart", JSON.stringify(currentCart));
            localStorage.setItem("quantity", JSON.stringify(currentQuantity));    
        }
    }
</script>
</section>