<section id="snackDetails">
    <center><a href="/customer/snacks">Back to menu</a></center>

<h1> {{desiredSnack.name}} </h1><br>
<center><img src="https://source.unsplash.com/{{desiredSnack.photo}}" alt="hosted by Unsplash"></center>
<div class="Price"> Price: ${{desiredSnack.price}}</p><br>
<p id="snackid" hidden>{{desiredSnack._id}}</p>

{{#if loggedin}}
<label for="quantity"><p>Quantity: (put 0 to remove item)</p></label>
<input type="number" id="quantity" name="quantity" min="0" max="50">
<button onclick="toLocalStorage()" type="submit">Add to Cart</button><br>
<a href="javascript:void(0);" onclick="saveItems();">Proceed to Checkout</a> 
{{else}}
<p>Please <a href="/customer/getLoginPage">Log In</a> to Order</p>
{{/if}}
</section>

<!-- pop up message when clicking add to cart -->
<div class="addcart-modal">
    <div class="modal-content">
        <div class="close">&times;</div>
        <div><img src="https://i.imgur.com/tZ47M5M.png" width="150px" height="140px"></div>
        <div>
            <p id="addToCartMessage"></p>
        </div>
    </div>
</div>

    <form method="post" action="/customer/cart" id="cartform">
        <input type="hidden" name="items" id="items"/>
        <input type="hidden" name="qty" id="qty"/>
    </form>

<script>

    function saveItems(){
        // get the snack object IDs from local storage
        document.getElementById("items").value = JSON.parse(JSON.stringify(localStorage.getItem("current_cart")));
        document.getElementById("qty").value = JSON.parse(JSON.stringify(localStorage.getItem("quantity")));
        //alert( document.getElementById("items").value)
        //alert( document.getElementById("qty").value)
        console.log(document.getElementById("qty").value)
        // clear local storage (WARNING: I am assuming that only my app is using the local storage!!!)
        // submit a hidden form with the snack ids. You could use fetch to submit the data to API as well.
        document.getElementById("cartform").submit();
        localStorage.clear();
                    
    }

    function toLocalStorage() {
        // create a new Array if it does not exist and put Snack ID in it.
        if (localStorage.getItem("current_cart") === null){
            if(document.getElementById("quantity").value === ""){
                //user haven't put quantity
                console.log("quantity empty");
                document.getElementById("addToCartMessage").innerHTML = "Please put desired quantity.";
            }
            else{
                localStorage.setItem("current_cart", JSON.stringify([document.getElementById("snackid").innerHTML]))
                localStorage.setItem("quantity", JSON.stringify([document.getElementById("quantity").value]))
                document.getElementById("addToCartMessage").innerHTML = "Successfully added to cart."
            }
        }
        
        document.querySelector('.addcart-modal').style.display='flex';
    }
    document.querySelector('.close').addEventListener('click', function() {
        document.querySelector('.addcart-modal').style.display='none';
    });
</script>

