<section id="van-orderdetails">
    <h1>Order #{{order._id}}</h1>
    <h2>Customer: {{order.customer.nameGiven}} {{order.customer.nameFamily}}</h2>
    <div>
        <table>
            <tr> 
                <th>Product</th>
                <th></th>
                <th>Quantity</th>
                <th>Subtotal</th>
                
            </tr>
            
            {{#each order.items}}
            {{#if this.quantity}}
            <tr>
                <td>
                    <div class="order-info">
                        <img class="van-orderdetails" src="https://source.unsplash.com/{{this.snackId.photo}}" alt="hosted by Unsplash">
                        
                    </div>
                </td>
                <td>
                    <div>
                        <p>{{this.snackId.name}}</p>
                        <small>Price: ${{this.snackId.price}}</small>
                    </div>
                </td>
                <td>{{this.quantity}}</td>
                <td>{{multiply this.snackId.price this.quantity}}</td>
                  
            </tr>
            {{/if}}
            {{/each}}
        </table>
    </div>
    <div class="submit">
        <table>
            <tr>
                <td>Discount applied?</td>
                <td>Time until discount: {{subtract order.time_ordered Date.now}}</td>
            </tr>
            <tr>
                <td><b>Total Price</b></td>
                <td>${{total}}</td>
            </tr>
            <tr><td></td>
                <td>


                <button type="button" class="btn btn-primary btn-lg" onclick="markOrderAsFulfilled()">Fulfill Order</button>
                <button type="button" class="btn btn-primary btn-lg" onclick="markOrderAsPickedUp()">Picked Up</button>

                <form method="post" action="/vendor/orders/{{order._id}}/fulfilled" style="display: none;" id="fulfill_order" />
                <form method="post" action="/vendor/orders/{{order._id}}/pickedup" style="display: none;" id="pickup_order" />

                


                {{!-- <form method="post" action="/vendor/orders/{{order._id}}/fulfilled" id="van_form"></form>
                    <input id ="fulfill_button" class="btn btn-primary" type="submit"  value="Order Fulfilled"/>
                    <input id ="pickup_button" class="btn btn-primary" type="submit"  value="Ready For Pickup"/>
                </form> --}}
                </td>
            </tr>
        </table>

    </div>
    <script>
        // Form Submit Script
        function markOrderAsFulfilled() {
        document.getElementById("fulfill_order").submit()
        }
        function markOrderAsPickedUp() {
        document.getElementById("pickup_order").submit()
        }
    </script>
</section>